# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/Client/dist
/Server/build
/Client/node_modules
/Server/node_modules

/Server/.env.local
/Server/.env.development.local
/Server/.env.test.local
/Server/.env.production.local

/Server/npm-debug.log*
/Server/yarn-debug.log*
/Server/yarn-error.log*